<%- include('partials/header') %>
    <body >
        <div id="kReservationsBackground">
            <div class="container">
                <div class="text-center">
                    <h1 style="font-size: 40px; color: white; padding-top: 20px;" class="kHeading kHeadingStyles">All Reservations</h1>
                </div>
                <hr>
                <% reservations.forEach(function(x) { %>
                    <div class="card" style="width: 100%; margin: 5px; background-color: rgba(255, 255, 255, 0.7);">
                        <div class="card-body">
                            <h5 class="card-title"><a class="kSubheading" style="text-decoration: none; color: black;" href="/reservation/<%= x._id %>"><%= x.uname %></a></h5>
                            <h6 class="card-subtitle mb-2"><b> Bathroom: </b> <%= x.bathroom %></h6>
                            <h6 class="card-subtitle mb-2"><b> Beds: </b> <%= x.beds %></h6>
                            <h6 class="card-subtitle mb-2"><b> Food: </b> <%= x.food %></h6>
                            <h6 class="card-subtitle mb-2"><b> Date of Accomodation: </b><%= x.date %></h6>
                            <div class="text-right">
                                <form action="/reservation/<%= x._id %>?_method=DELETE" method="POST">
                                    <a href="/reservation/<%= x._id %>/edit" class="custom-btn btn-15 text-center" style="text-decoration: none; width: 120px; color: black;"><i class="fas fa-user-edit"></i> Edit</a>
                                    <input type="submit" class="custom-btn btn-15" style="width: 100px; color: black;" value="Delete">
                                </form>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </body>
<%- include('partials/footer') %>